**/.git
**/.gitignore
**/.vs
**/.vscode
**/.cache
**/.husky
**/.github
**/.env
**/.env.*
**/node_modules
**/npm-debug.log
**/dist
**/tests/coverage
**/.sonarqube
**/.sonarsource
**/sonar-project.properties
**/azure-pipelines.yml
LICENSE
README.md
